In [43]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from IPython.display import Markdown as md
plt.rcParams['figure.figsize'] = [18, 5]

In [44]:
df = pd.read_csv('./2019 03 18 12H 56M Electropherogram.csv')
df.set_index('Size (nt)', inplace=True)

In [45]:
cols = ["A", "B", "C", "D", "E", "F", "G", "H"]
rows = [str(x) for x in range(1,13)]

newNames = {}
sampleMap = {}
for col in df.columns:
    if ": " in col:
        splt = col.split(": ")
        newNames[col] = splt[0]
        sampleMap[splt[0]] = splt[1]
    else:
        sampleMap[col] = col
df.rename(columns=newNames, inplace=True)
display(df.head())

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,H3,H4,H5,H6,H7,H8,H9,H10,H11,H12
Size (nt),,,,,,,,,,,,,,,,,,,,,
0.30,198.50,279.69,267.72,254.48,334.85,280.15,243.79,217.11,287.62,227.10,...,401.16,371.66,399.11,315.79,308.84,460.42,308.91,315.62,371.46,1250.33
0.47,321.74,422.15,409.70,403.99,502.07,436.01,393.42,366.88,442.12,378.52,...,598.85,545.44,613.61,496.02,496.39,674.77,484.98,509.68,566.47,2032.70
0.65,433.76,526.32,518.91,532.03,620.95,563.89,529.85,515.39,562.51,527.82,...,738.84,662.20,778.47,644.71,663.43,817.70,632.93,685.93,710.22,2713.89
0.82,485.62,541.74,543.05,580.40,633.11,604.30,593.03,599.64,590.75,611.99,...,751.78,663.66,813.76,692.38,735.39,818.39,685.00,766.30,732.18,2983.54
1.00,452.00,460.13,469.51,524.50,531.68,536.12,551.08,577.30,511.13,589.03,...,629.60,547.95,699.92,613.82,675.60,675.35,614.50,709.93,619.92,2707.21

In [49]:
for col in cols:
    plots = [col+x for x in rows]
    if "H12" in plots:
    plots.remove("H12")
    df.loc[:, plots].plot(title=col)

ValueError: list.remove(x): x not in list